[tool.black]
line-length = 79
target-version = ['py37']
exclude = '''
    /(
        \.git
      | \.hg
      | \.mypy_cache
      | \.tox
      | \.venv
      | _build
      | buck-out
      | build
      | dist

      # The following are specific to Black, you probably don't want those.
      | blib2to3
      | tests/data
      | MANIFEST.in
      | LICENSE
      | AUTHORS
      | setup.cfg:
      | project.toml
    )/
